* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.lilcsi-one {
    background-color: #d63384;
    width: 100vw;
    height: 25vh;
    &-text {
        font-family: 'Borel', cursive;
        font-size: 3rem;
    }
}

p {
    font-family: 'Itim', cursive;
    font-size: 1.3rem;
    padding: 0.5rem;
}

.lilcsi-two {
    background-color: #fbbcee;
}

.lilcsi-three {
    background-color: #fab4c8;
}

.lilcsi-four {
    background-color: #f78ecf;
}

.lilcsi-five {
    background-color: #cfb9f7;
}

.lilcsi-six {
    background-color: #e0cefd;
}

.lilcsi-seven {
    background-color: #a480f2;
}

.lilcsi-eight {
    background-color: #d4b0f9;
}

.lilcsi-nine {
    background-color: #c580ed;
}

.second {
    max-height: 15%;
}

.third {
    max-height: 25%;
}

.fourth {
    max-height: 25%;
}

.fifth {
    max-height: 10%;
}

.icon-fb:hover {
    cursor: pointer;
}

.icon-tt:hover {
    cursor: pointer;
}

img {
    max-width: 40%;
    border-radius: 10%;
}

@media only screen and (max-width: 998px) {
    .lilcsi-two {
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }

    .lilcsi-three {
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }
    .lilcsi-four {
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }
    .lilcsi-five {
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }
    .lilcsi-six {
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }
    .lilcsi-seven {
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }
    .lilcsi-eight {
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }
}
