* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p {
    font-family: 'Itim', cursive;
    font-size: 1.3rem;
    padding: 0.5rem;
}

.lilcsi {
    &-one {
        background-color: #d63384;
        width: 100vw;
        height: 25vh;
        &-text {
            font-family: 'Borel', cursive;
            font-size: 3rem;
        }
    }
    &-two {
        background-color: #fbbcee;
    }
    &-three {
        background-color: #fab4c8;
    }
    &-four {
        background-color: #f78ecf;
    }
    &-five {
        background-color: #cfb9f7;
    }
    &-six {
        background-color: #e0cefd;
    }
    &-seven {
        background-color: #a480f2;
    }
    &-eight {
        background-color: #d4b0f9;
    }
    &-nine {
        background-color: #c580ed;
    }
}

.container-fluid {
    .second {
        max-height: 15%;
    }
    .third {
        max-height: 25%;
    }
    .fourth {
        max-height: 25%;
    }
    .fifth {
        max-height: 10%;
    }
}

.icon-fb:hover {
    cursor: pointer;
}

.icon-tt:hover {
    cursor: pointer;
}

img {
    max-width: 40%;
    border-radius: 10%;
}

@media only screen and (max-width: 998px) {
    .lilcsi-two
        .lilcsi-three
        .lilcsi-four
        .lilcsi-five
        .lilcsi-six
        .lilcsi-seven
        .lilcsi-eight
        .lilcsi-nine {
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }
}
